<li><a href="{{path('ver_croquis',{'id':'017_AM'})}}">avenida de alicante, algorfa (comerplast)
</a></li><li><a href="{{path('ver_croquis',{'id':'027_VE_BIS'})}}">luis gonzaga llorente, plaza rey don jaime
</a></li><li><a href="{{path('ver_croquis',{'id':'086_VE'})}}">corredora, puente ortices
</a></li><li><a href="{{path('ver_croquis',{'id':'093_AZ'})}}">reina victoria, antonio pascual quiles
</a></li><li><a href="{{path('ver_croquis',{'id':'108_AM'})}}">avenida santa pola, camino del gato
</a></li><li><a href="{{path('ver_croquis',{'id':'116_AZ'})}}">poeta miguel hernandez, jose mas esteve
</a></li><li><a href="{{path('ver_croquis',{'id':'143_AZ'})}}">doctor ferrán, antonio pascual quiles
</a></li><li><a href="{{path('ver_croquis',{'id':'187_AM_BIS'})}}">sucre, fray pedro balaguer
</a></li><li><a href="{{path('ver_croquis',{'id':'188_AZ'})}}">doctor sapena, capitan gaspar ortiz
</a></li><li><a href="{{path('ver_croquis',{'id':'206_AZ'})}}">reyes catolicos, san jose
</a></li><li><a href="{{path('ver_croquis',{'id':'257_AZ'})}}">fernanda santamaria, capitan baltasar tristany
</a></li><li><a href="{{path('ver_croquis',{'id':'281_AZ'})}}">pedro juan perpiñan, capitan alfonso vives
</a></li><li><a href="{{path('ver_croquis',{'id':'304_AZ_BIS'})}}">federico garcia lorca, gilberto martinez
</a></li><li><a href="{{path('ver_croquis',{'id':'340_RJ'})}}">avenida de la libertad, marqués de asprillas
</a></li><li><a href="{{path('ver_croquis',{'id':'AA7'})}}">avenida de alicante, 7
</a></li><li><a href="{{path('ver_croquis',{'id':'base'})}}">luis gonzaga llorente, plaza rey don jaime
</a></li><li><a href="{{path('ver_croquis',{'id':'RN_1R'})}}">ronda norte 1ª redonda
</a></li>