{% extends "layout.html.twig" %}

{% block title %}Hola!{% endblock %}

{% block content %}

    <div class="hero-unit">
        <h2>¡Hola campeón!</h2>
        <h3>Bienvenido al archivo de croquis.</h3>
        <p class="texto-justificado">Vamos a intentar agrupar aquí parte de los archivos que son necesarios en el dia a dia de la confección de atestados, para ello empezaremos
        por unas pocas cosillas. Toda ayuda será acogida con las manos abiertas, por lo que si detectas algo que no es correcto o un mailfuncionamiento, mándame un mail y lo 
        apañamos.</p>
        <p class="pull-right"><a href="mailto:chua@chua.es" class="btn btn-success btn-large">Enviar mail</a></p>
    </div>

    <div class="hero-unit">
        <p class="texto-justificado">Si lo que quieres es <strong>subir un croquis</strong>, 
            mientras que lo ponemos en marcha, envíame lo siguiente al correo electrónico...
            <ul>
                <li> El fichero corel (limpio, sin ningun corquis representado, solo las calles).</li>
                <li> El fichero anterior, pero exportado a jpg </li>
                <li> La inspección ocular de la vía y si quieres un desarrollo (Sin datos sensibles) y la señalización vertical y horizontal.</li>
            </ul>
        </p>
        <a href="mailto:chua@chua.es" class="btn btn-success btn-large">Enviar mail</a>
    </div>

    <div class="hero-unit">
        <p class="texto-justificado">Para cualquier otra cosa ...
           <a href="mailto:chua@chua.es" class="btn btn-success btn-large pull-right">Enviar mail</a></p>
    </div> 


{% endblock %}
