{% extends "layout.html.twig" %}
{% block title %} Croquis {% endblock %}

{% block content %}

<legend>Donde</legend>

<div class="tabbable ">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Cruce</a></li>
        <li><a href="#tab2" data-toggle="tab">Tramo</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <p>cruce de vías en forma de “+”
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">aspa "X" o cruz "+"</a></li>
                    <li><a href="#">plaza circular "O"</a></li>
                    <li><a href="#">"T"</a></li>
                    <li><a href="#">"Y"</a></li>
                    <input type="text" placeholder="Type something…">
                </ul>
            </p>
        </div>
        <div class="tab-pane" id="tab2">
            <p>tramo recto o curvo
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">recto</a></li>
                    <li><a href="#">curvo</a></li>
                </ul>
            </p>
        </div>
    </div>
</div>

<hr/>
    
 
/*

 * 
 
 
 
El accidente que nos ocupa se produjo en un [cruce de vías en forma de “+”]||[tramo recto o curvo] en
zona urbana, a nivel correcto, presentando ambas firme de aglomerado asfáltico en buen
estado de rodadura, seco y limpio.
La C/ Cristóbal Sanz es vía de un solo sentido de circulación con dirección sur-
norte, compuesta por tres carriles de marcha, de ellos el situado más al este está
reservado para la circulación de autobuses y taxis y dispone de zona de estacionamiento
en línea en el lado izquierdo de la calzada según sentido de marcha. Esta vía presenta
una plataforma de 13,7 metros de anchura total, distribuyéndose de izquierda a derecha
según sentido de inspección del siguiente modo: línea de edificación de fachada seguida
de acera elevada de 2 metros y sobredimensionada en la esquina de la confluencia hasta
3,7 metros, zona de estacionamiento en línea de 2 metros, dos carriles de circulación de
2,5 metros, un carril de circulación para autobuses y taxis de 2,7 metros, acera elevada
de 2 metros y finalmente línea de edificación de fachada.
La C/ General Cosido es vía de un solo sentido de circulación con dirección este-
oeste, compuesta por un único carril de circulación, dispone de zona de estacionamiento
en batería en el lado izquierdo de la calzada en sentido de marcha y estacionamiento en
línea en el lado derecho. Esta vía presenta una plataforma de 14 metros de anchura total,
distribuyéndose de izquierda a derecha según sentido de inspección del siguiente modo:
línea de edificación de fachada seguida de acera elevada de 2 metros y
sobredimensionada en la esquina de la confluencia hasta 5,50 metros, zona de
estacionamiento en batería de 4 metros, carril de circulación de 4 metros, zona de
estacionamiento en línea de 2 metros, acera elevada de 2 metros que se sobredimensiona
en la confluencia hasta 3,60 metros y finalmente línea de edificación de fachada.

 
 
 
 
 
 El accidente que nos ocupa se produjo <span id="titularidad_via">en una vía de titularidad municipal|Autonomica|Nacional|... </span>
 en  (o exclusiva)[acceso|salida| vacio la intersección| (en forma de) conformada por las vías ...] [el tramo de vía que discurre ...] de la Avenida Alcalde Vicente Quiles con el Camino del Pantano.

 
 
 
 
 
 
 
 Exactamente en un tramo recto de entrada y confluencia con una intersección de sentido
giratorio obligatorio o rotonda. Este tramo de vía, presenta firme de aglomerado asfáltico,
a nivel correcto y en buen estado de rodadura, seco, limpio y no existiendo huecos,
badenes o deficiencias.
El camino del Pantano es vía de doble sentido de circulación y dos carriles de marcha para
cada sentido durante la práctica totalidad de su recorrido, salvo en el lugar de los hechos,
en el sentido de entrada a la rotonda (Norte-Sur), donde se ensancha y se habilitan tres
carriles, dos de entrada en rotonda. Presenta una amplitud de calzada en el lugar de los
hechos (calzada de entrada a rotonda) de 5,5 metros (2,75 metros por carril de circulación).
La calzada Norte de la C/ Alcalde Vicente Quiles, es vía de único sentido de
circulación y dos carriles de marcha, que presenta una amplitud de calzada de 6 metros (3
metros por carril de circulación). En la zona Norte de la calzada, existe acera elevada de
5,8 metros de amplitud. En la zona Sur de la calzada existe un boulevard ajardinado con
acera elevada de 1,3 metros.



 */

    
    
    <script type="text/javascript">        
        
       
             
    $(function () {
        
        
        
        
        
       
    });

  
         
    </script>
{% endblock %}

  
    
 